## SwiftUI에서 위도경도 여러개를 JSON파일로 찍어보기위해 전처리하기

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/제주도식당_위도경도컬럼.csv")

In [3]:
df.head()

          lat          lng
0  33.5151128  126.5202001
1  33.5214225  126.8588743
2  33.4192601  126.2674304
3  33.4714278  126.5457848
4  33.4879976  126.4978933

### csv to JSON

In [4]:
df.to_json('Data/제주도식당_위도경도JSON.json', orient='records', force_ascii=False)