## SwiftUI에서 위도경도 여러개를 JSON파일로 찍어보기위해 전처리하기

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/제주도식당_위도경도컬럼.csv")

In [3]:
df.head()

          lat          lng
0  33.5151128  126.5202001
1  33.5214225  126.8588743
2  33.4192601  126.2674304
3  33.4714278  126.5457848
4  33.4879976  126.4978933

### csv to JSON

In [4]:
df.to_json('Data/제주도식당_위도경도JSON.json', orient='records', force_ascii=False)

---
### Map에 쓸 테스트 JSON 생성
- 테스트 데이터이기 때문에 용량을 줄일 목적으로 리뷰가 없는 데이터는 제외

In [43]:
jejuJSON = pd.read_json("Data/제주도식당Data.json")

In [45]:
jejuJSON = jejuJSON[jejuJSON['review'] != 'x']

In [46]:
jejuJSON.count(axis=1)

1       13
2       13
3       13
4       13
5       13
        ..
9991    13
9992    13
9993    13
9995    13
9998    13
Length: 5792, dtype: int64

In [48]:
jejuJSON = jejuJSON.iloc[0:,0:12]

In [50]:
jejuJSON.to_json("Data/제주도식당Data_Test.json", orient='records', force_ascii=False)

---
### 제주도 공중화장실 데이터 전처리

In [51]:
jejuToilet = pd.read_excel("Data/제주공중화장실Data_원본.xlsx")

/Users/jeongtaeyeong/miniforge3/envs/tensorflow/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [52]:
jejuToilet.head()

,번호,구분,근거,화장실명,소재지도로명주소,소재지지번주소,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,...,화장실소유구분,오물처리방식,안전관리시설설치대상여부,비상벨설치여부,비상벨설치장소,화장실입구CCTV설치유무,기저귀교환대유무,기저귀교환대장소,리모델링연월,데이터기준일자
0,1,개방화장실,법제3조제1호,솔오름전망대,NaN,제주특별자치도 서귀포시 동홍동 2149,1,1,0,0,...,공공기관-지방자치단체,수거식,Y,Y,남자화장실+여자화장실,N,N,없음,NaN,2023-12-20
1,2,개방화장실,법제3조제1호,고근산,NaN,제주특별자치도 서귀포시 서호동 1286-1,1,1,0,0,...,공공기관-지방자치단체,수거식,Y,Y,남자화장실+여자화장실,N,N,없음,NaN,2023-12-20
2,3,개방화장실,법제3조제1호,엉또폭포,제주특별자치도 서귀포시 엉또로 104,제주특별자치도 서귀포시 강정동 1561-1,1,1,0,0,...,공공기관-지방자치단체,수거식,Y,Y,남자화장실+여자화장실,N,N,없음,NaN,2023-12-20
3,4,개방화장실,법제3조제1호,악근천(풍림콘도 -동쪽 바로 옆),NaN,제주특별자치도 서귀포시 강정동 5628 (신축),1,1,0,0,...,공공기관-지방자치단체,수거식,Y,Y,남자화장실+여자화장실,N,N,없음,NaN,2023-12-20
4,5,개방화장실,법제3조제1호,베릿내,제주특별자치도 서귀포시 중문관광로 181,제주특별자치도 서귀포시 중문동 2631,1,1,0,0,...,공공기관-지방자치단체,수거식,Y,Y,남자화장실+여자화장실,N,N,없음,NaN,2023-12-20

### 컬럼 확인
- 필요한 컬럼만 뽑기위해 필요함

In [53]:
jejuToilet.columns

Index(['번호', '구분', '근거', '화장실명', '소재지도로명주소', '소재지지번주소', '남성용-대변기수', '남성용-소변기수',
       '남성용-장애인용대변기수', '남성용-장애인용소변기수', '남성용-어린이용대변기수', '남성용-어린이용소변기수',
       '여성용-대변기수', '여성용-장애인용대변기수', '여성용-어린이용대변기수', '관리기관명', '전화번호', '개방시간',
       '개방시간상세', '설치연월', 'WGS84위도', 'WGS84경도', '화장실소유구분', '오물처리방식',
       '안전관리시설설치대상여부', '비상벨설치여부', '비상벨설치장소', '화장실입구CCTV설치유무', '기저귀교환대유무',
       '기저귀교환대장소', '리모델링연월', '데이터기준일자'],
      dtype='object')

### 제일 중요한 위도경도 값에 대한 결측치 확인

In [55]:
jejuToilet[['WGS84위도', 'WGS84경도']].isna().sum()

WGS84위도    427
WGS84경도    427
dtype: int64

> 전체 데이터가 777개인데 427개가 na값이라 도로명주소로 위도경도를 채우기로 결정

In [65]:
# NA값 존재시 API못돌려서 x로 대체
jejuToilet['소재지도로명주소'].fillna('x', inplace=True)

In [56]:
import urllib.request # network 요청 보내기
import json
import time
import random

# 네이버 API 키 정보들
client_id = ""
client_secret = ""

In [62]:
# 위도경도를 뽑아올 함수 정의
def addressToLatLng(address):
    url = "https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query=" + urllib.parse.quote(address)
    request = urllib.request.Request(url)
    request.add_header("X-NCP-APIGW-API-KEY-ID", client_id)
    request.add_header("X-NCP-APIGW-API-KEY", client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()
    lat_lng = None
    if rescode == 200:
        response_body = response.read()
        entext = response_body.decode('utf-8')
        data = json.loads(entext)
        try:
            lat_lng = {
                "lat": data['addresses'][0]['y'],
                "lng": data['addresses'][0]['x']
            }
        except:
            # 주소에서 가져올 수 없을 때 x추가
            lat_lng = {"lat": "x", "lng": "x"}
    else:
        print("Error Code:" + rescode)
    return lat_lng
# 데이터프레임 초기화
df = pd.DataFrame(columns=['latitude', 'longitude'])

In [66]:
# Test
# addressToLatLng("제주특별자치도 제주시 중앙로 581, 에이동 1층 (아라일동)")
count = 1
# 주소별 위도와 경도를 추출하여 데이터프레임에 추가
for address in jejuToilet['소재지도로명주소']:
    lat_lng = addressToLatLng(address)
    if lat_lng:
        df = pd.concat([df, pd.DataFrame([lat_lng])], ignore_index=True)        
        print(count)
        count += 1

print("완료")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
완료

In [68]:
df = df[['lat', 'lng']]

In [69]:
df

            lat          lng
0             x            x
1             x            x
2    33.2672443  126.4983941
3             x            x
4    33.2447132  126.4195338
..          ...          ...
772  33.4863833  126.4569079
773  33.4866347  126.4375090
774  33.4750610  126.5155220
775  33.5096823  126.7156478
776  33.5169012  126.7037448

[777 rows x 2 columns]

In [71]:
newJejuToilet = pd.concat([jejuToilet, df], axis=1)

In [72]:
newJejuToilet.head()

,번호,구분,근거,화장실명,소재지도로명주소,소재지지번주소,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,...,안전관리시설설치대상여부,비상벨설치여부,비상벨설치장소,화장실입구CCTV설치유무,기저귀교환대유무,기저귀교환대장소,리모델링연월,데이터기준일자,lat,lng
0,1,개방화장실,법제3조제1호,솔오름전망대,x,제주특별자치도 서귀포시 동홍동 2149,1,1,0,0,...,Y,Y,남자화장실+여자화장실,N,N,없음,NaN,2023-12-20,x,x
1,2,개방화장실,법제3조제1호,고근산,x,제주특별자치도 서귀포시 서호동 1286-1,1,1,0,0,...,Y,Y,남자화장실+여자화장실,N,N,없음,NaN,2023-12-20,x,x
2,3,개방화장실,법제3조제1호,엉또폭포,제주특별자치도 서귀포시 엉또로 104,제주특별자치도 서귀포시 강정동 1561-1,1,1,0,0,...,Y,Y,남자화장실+여자화장실,N,N,없음,NaN,2023-12-20,33.2672443,126.4983941
3,4,개방화장실,법제3조제1호,악근천(풍림콘도 -동쪽 바로 옆),x,제주특별자치도 서귀포시 강정동 5628 (신축),1,1,0,0,...,Y,Y,남자화장실+여자화장실,N,N,없음,NaN,2023-12-20,x,x
4,5,개방화장실,법제3조제1호,베릿내,제주특별자치도 서귀포시 중문관광로 181,제주특별자치도 서귀포시 중문동 2631,1,1,0,0,...,Y,Y,남자화장실+여자화장실,N,N,없음,NaN,2023-12-20,33.2447132,126.4195338

### 위도경도 값이 없으면 API로 가져온 위도경도 값 넣어주기

In [73]:
# 데이터 확인
newJejuToilet[['WGS84위도', 'WGS84경도', 'lat', 'lng']]

      WGS84위도    WGS84경도         lat          lng
0    33.29096  126.55501           x            x
1    33.26631  126.51379           x            x
2    33.26724  126.49839  33.2672443  126.4983941
3    33.23437  126.48992           x            x
4    33.24471  126.41953  33.2447132  126.4195338
..        ...        ...         ...          ...
772       NaN        NaN  33.4863833  126.4569079
773       NaN        NaN  33.4866347  126.4375090
774       NaN        NaN  33.4750610  126.5155220
775       NaN        NaN  33.5096823  126.7156478
776       NaN        NaN  33.5169012  126.7037448

[777 rows x 4 columns]

### na값 채우기

In [79]:
newJejuToilet['WGS84위도'].fillna(newJejuToilet['lat'], inplace=True)
newJejuToilet['WGS84경도'].fillna(newJejuToilet['lng'], inplace=True)

/var/folders/09/43kl2fx1247736ywj_tnnz500000gn/T/ipykernel_25776/767485145.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['126.9291494' '126.3447602' '126.3406787' '126.3030938' '126.3030938' 'x'
 '126.4261469' '126.3298018' '126.3071485' 'x' 'x' 'x' '126.3543658' 'x'
 'x' 'x' 'x' 'x' '126.3468168' 'x' '126.3923184' 'x' 'x' '126.3583544'
 '126.3030938' 'x' 'x' 'x' 'x' '126.7598429' 'x' 'x' '126.8514013'
 '126.8566436' '126.8620520' 'x' '126.7570207' 'x' 'x' 'x' 'x' 'x' 'x' 'x'
 '126.8804801' 'x' 'x' 'x' 'x' '126.8988005' '126.8141764' '126.8626805'
 '126.8572966' 'x' 'x' 'x' 'x' '126.6139881' '126.6139881' 'x' 'x'
 '126.6355458' '126.6740732' '126.3291907' '126.4033364' '126.8520370'
 '126.8520370' '126.8520370' '126.6341880' '126.6437192' '126.6146300'
 '126.1841306' '126.1837080' '126.1845301' '126.2960724' '126.9558798'
 '126.9530513' '126.5263272' '126.5263272' '126.5371111' '126.5268961'
 '126.5352568' '126.5173684' '126.5222202' '126.5133381' '126.5116914'
 '126.5315146' '126.5653710' '126.5854635' '126.5946695' '126.5452322'
 '126.5115625' '126.9530513' '126.4968445' '126.4771750' '126.4771750'
 '126.4550017' '126.4321011' '126.4580880' '126.4682826' '126.5337137' 'x'
 '126.5114000' 'x' '126.5476899' '126.5476899' '126.5476899' 'x'
 '126.4913412' '126.4879402' '126.5201915' '126.5242565' '126.5444905'
 '126.5396959' '126.4828696' '126.4692518' '126.5271887' 'x' 'x' 'x' 'x'
 'x' '126.5472916' '126.5982215' 'x' '126.4672312' '126.5502653'
 '126.6701028' '126.6705232' '126.5002260' '126.5433833' '126.5433833'
 '126.5433833' '126.5433833' '126.5433833' '126.5433833' '126.5433833'
 '126.5342262' '126.5342262' '126.5342262' '126.5342262' '126.5433833'
 '126.5459475' '126.5376063' '126.5417342' '126.6005344' '126.6005344'
 '126.6005344' '126.4982702' '126.5005064' '126.8633984' '126.8633984'
 '126.8633984' '126.8633984' '126.6705232' '126.6679649' 'x' 'x' 'x' 'x'
 '126.6251975' '126.6251975' '126.6251975' '126.6255747' '126.6255747'
 '126.7371770' '126.3241826' '126.3445853' '126.4547212' 'x' 'x' 'x'
 '126.6484815' '126.6741188' '126.1651419' '126.1676197' 'x' 'x'
 '126.2262664' 'x' 'x' 'x' 'x' 'x' 'x' 'x' '126.1825321' 'x' 'x' 'x' 'x'
 '126.1943852' 'x' 'x' 'x' '126.8633984' '126.8633984' '126.8633984'
 '126.5789045' '126.5789045' '126.5789045' '126.5789045' 'x' 'x'
 '126.2607871' '126.2143263' '126.2362051' '126.2394319' 'x' '126.2625272'
 '126.2643981' '126.2786718' '126.2896260' '126.2940928' '126.2738583'
 '126.2745058' '126.2648428' '126.5789045' '126.5789045' '126.4948419'
 '126.4948419' '126.4850041' '126.5176491' '126.4948419' '126.6194078'
 '126.6194078' '126.6194078' '126.5509940' '126.5281780' '126.5281780'
 '126.5509940' '126.4895815' '126.4895815' '126.2659791' '126.2686755' 'x'
 'x' '126.3401279' 'x' '126.2975341' '126.2895689' 'x' '126.2983816' 'x'
 '126.3336478' '126.3300644' 'x' 'x' 'x' '126.3278641' '126.2975176'
 '126.3122988' 'x' '126.3234684' '126.2956341' '126.3216742' '126.3290371'
 '126.9431167' '126.9433165' 'x' '126.9666320' '126.9666320' 'x'
 '126.4801816' '126.7796886' '126.2072624' '126.6406638' '126.6406638'
 '126.5349000' 'x' 'x' 'x' 'x' '126.6501418' '126.5366495' '126.4950875'
 '126.5270675' '126.5161506' '126.6567103' '126.6567103' '126.6567103'
 '126.6567103' '126.6567103' '126.6567103' '126.6567103' '126.5311380'
 '126.5419257' '126.5311380' 'x' '126.9515778' 'x' 'x' 'x' '126.9573473'
 '126.9593849' 'x' '126.9501218' 'x' '126.5277203' '126.5263272'
 '126.5295674' '126.5465193' '126.5465193' '126.5238514' '126.5252325'
 '126.4994427' 'x' 'x' '126.5655223' 'x' '126.5638935' '126.5573907'
 '126.5868977' 'x' '126.5914576' 'x' 'x' '126.2648428' '126.2648428'
 '126.2648428' '126.2288887' 'x' 'x' 'x' '126.2592364' 'x' '126.5265890'
 '126.4957131' '126.5349374' '126.5260869' '126.4798238' '126.4747531' 'x'
 'x' 'x' '126.4892854' '126.5423913' '126.5453606' '126.4769536'
 '126.5631584' 'x' '126.5470056' '126.5282277' '126.5282277' '126.5179038'
 '126.4748883' '126.4748883' '126.4748883' '126.4731314' '126.4731314'
 '126.5261270' '126.5311380' '126.5311380' '126.5311380' '126.5315011'
 '126.5311191' '126.5299227' '126.5313208' '126.5323758' '126.5325106'
 '126.5239304' '126.5471743' '126.5242565' '126.5492077' 'x' '126.5487423'
 '126.5623921' '126.5230604' '126.5435156' 'x' '126.5829930' 'x' 'x'
 '126.5155220' '126.5202549' '126.5202549' '126.4771750' '126.5783777'
 '126.2697130' '126.2697130' '126.3249989' '126.1851816' '126.7512216'
 '126.2669853' '126.2619931' '126.2681696' '126.4968445' '126.4908857'
 '126.4874068' '126.4621575' 'x' 'x' '126.4416357' 'x' '126.4549252'
 '126.4495833' '126.4593752' '126.4777874' '126.4668285' '126.4689775'
 '126.5241832' '126.5260165' 'x' '126.5282277' '126.5282277' '126.5587513'
 '126.5989444' '126.5551683' '126.4872373' '126.3597364' '126.5143020'
 '126.5143020' '126.5143020' '126.5143020' '126.5143020' '126.5143020'
 '126.5444241' '126.5982451' '126.6365086' '126.6365086' '126.4790916'
 '126.4362616' '126.4569079' '126.4375090' '126.5155220' '126.7156478'
 '126.7037448']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newJejuToilet['WGS84경도'].fillna(newJejuToilet['lng'], inplace=True)

In [81]:
newJejuToilet[['WGS84위도', 'WGS84경도']].isna().sum()

WGS84위도    0
WGS84경도    0
dtype: int64

In [83]:
# 'lat'와 'lng' 열 삭제
newJejuToilet.drop(columns=['lat', 'lng'], inplace=True)

In [87]:
newJejuToilet.tail()

,번호,구분,근거,화장실명,소재지도로명주소,소재지지번주소,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,...,화장실소유구분,오물처리방식,안전관리시설설치대상여부,비상벨설치여부,비상벨설치장소,화장실입구CCTV설치유무,기저귀교환대유무,기저귀교환대장소,리모델링연월,데이터기준일자
772,773,개방화장실,법제3조제13호,이호운동장,제주특별자치도 제주시 오광로6길58-11,NaN,1,2,1,0,...,공공기관-지방자치단체,수세식,Y,Y,여자화장실,N,N,없음,NaN,2023-12-31
773,774,개방화장실,법제3조제13호,외도2운동장,제주특별자치도 제주시 통물길75,NaN,2,2,1,0,...,공공기관-지방자치단체,수세식,Y,Y,여자화장실,N,N,없음,NaN,2023-12-31
774,775,개방화장실,법제3조제16호-영제3조제1항제1호,제주아트센터 외부 화장실,제주특별자치도 제주시 오남로 231,NaN,1,1,0,0,...,공공기관-지방자치단체,수세식,Y,Y,남자화장실+여자화장실,N,N,없음,NaN,2023-12-31
775,776,개방화장실,법제3조제16호-영제3조제1항제1호,동백동산(습지센타 주차장),제주특별자치도 제주시 조천읍 동백로 77,NaN,3,5,1,0,...,공공기관-지방자치단체,수세식,Y,Y,장애인화장실+남자화장실+여자화장실,N,Y,남자화장실+여자화장실,NaN,2023-12-31
776,777,개방화장실,법제3조제16호-영제3조제1항제1호,에코촌 유스호스텔 주차장,제주특별자치도 제주시 조천읍 북흘로 376-9,NaN,3,3,1,0,...,공공기관-지방자치단체,수세식,Y,Y,장애인화장실+남자화장실+여자화장실,Y,Y,여자화장실,NaN,2023-12-31

In [86]:
newJejuToilet.count(axis=1)

0      30
1      30
2      30
3      30
4      30
       ..
772    29
773    29
774    29
775    29
776    29
Length: 777, dtype: int64

### 필요한 컬럼만 뽑아서 json파일로 저장하기

In [88]:
newJejuToilet.columns

Index(['번호', '구분', '근거', '화장실명', '소재지도로명주소', '소재지지번주소', '남성용-대변기수', '남성용-소변기수',
       '남성용-장애인용대변기수', '남성용-장애인용소변기수', '남성용-어린이용대변기수', '남성용-어린이용소변기수',
       '여성용-대변기수', '여성용-장애인용대변기수', '여성용-어린이용대변기수', '관리기관명', '전화번호', '개방시간',
       '개방시간상세', '설치연월', 'WGS84위도', 'WGS84경도', '화장실소유구분', '오물처리방식',
       '안전관리시설설치대상여부', '비상벨설치여부', '비상벨설치장소', '화장실입구CCTV설치유무', '기저귀교환대유무',
       '기저귀교환대장소', '리모델링연월', '데이터기준일자'],
      dtype='object')

In [94]:
finalJejuToilet = newJejuToilet[['화장실명', '소재지도로명주소', '남성용-장애인용대변기수', '남성용-장애인용소변기수','여성용-장애인용대변기수', '개방시간상세', 'WGS84위도', 'WGS84경도', '비상벨설치여부', '비상벨설치장소', '기저귀교환대유무', '기저귀교환대장소']]

In [95]:
finalJejuToilet.to_json("Data/제주공중화장실Data_전처리.json", orient='records', force_ascii=False)